body {
    color: #737373;
}

.card {
    border-radius: 0;
}

.card-body {
    min-height: 175px;
}

.grey-font {
    color: #E2E2E2;
}

.dropdown-menu {
    min-width: 500px;
    padding: 0;
}

.dropdown-item {
    padding: 20px;
}

.list-container {
    border-bottom: 1px solid #efefef;;
}
